@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<AspNetHosted.Model.Person>
<h1>@Model.Handle</h1>
<p>Twitter: <a href="https://twitter.com/@Model.TwitterHandle">https://twitter.com/@Model.TwitterHandle</a></p>
<p>Bio: @Model.Bio</p>